/* Bordered form */
form {
  border-radius: 10%;
  border-color: #2e3548;
  background-color: #313c5a;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  display: block;
  max-width: 70%;
  margin: 50px;
  overflow: hidden;
  width: 50px auto;
  min-height: 210px;
  height: auto;
  align-self: center;
  
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10%;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: #2e3548;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;

}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 30%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 20px;
  text-align: center;
}

/* The "Forgot password" text */
div.psw {
  float: center;
  color: white
}

label {
  color: white;
  display: block;

}